<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Cocktail_Shaker_OR_BiDirectional_Bubble_Sort/src/com/cocktailshaker/Cocktrail_Shaker_Sort.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.cocktailshaker.Cocktrail_Shaker_Sort"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Cocktail_Shaker_OR_BiDirectional_Bubble_Sort"/>
</launchConfiguration>
